body {
  margin: 0;
}

.container {
  margin: 0;
  min-height: 100vh;
}

header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #007bff;
  box-shadow: -1px 2px 14px -1px rgba(0, 0, 0, 0.41);
}

nav {
  padding: 0;
  margin: 0;
  display: flex;
}

nav > button {
  border: none;
  padding: 15px 30px;
  background-color: transparent;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav > button:hover {
  background-color: white;
  color: black;
}

nav > button > span {
  display: inline-block;
  transition: all 0.3s ease;
}

nav > button:hover > span {
  transform: translateY(-3px);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 50px;
}

.page {
  display: none;
  flex-direction: column;
  align-items: center;
  min-width: 700px;
  padding-top: 50px;
  box-sizing: border-box;
}

h2 {
  color: #333333;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

textarea {
  height: 150px;
  resize: none;
}

.btn-submit {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn-submit:hover {
  background-color: #0056b3;
}

/* 게시물 목록 스타일 */
#board-list {
  width: 100%;
  max-width: 700px;
  list-style: none;
  padding: 0;
}

#board-list > li {
  padding: 15px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#board-list > li:hover {
  background-color: #e0efff;
  border: 1.5px solid #007bff;
  transform: translateY(-1px);
}

#page-detail {
  text-align: left;
  max-width: 600px;
}

#page-detail > h2,
p {
  width: 100%;
  padding-left: 10px;
}

#detail-userid {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  box-sizing: border-box;
}

#detail-content {
  min-height: 500px;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 10px;
}

#back-btn {
  border: none;
  padding: 7px 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
  transition: all 0.3s ease;
}

#back-btn:hover {
  background-color: #e2e6ea;
}

#btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#btn-box {
  display: none;
  gap: 5px;
}

.commonBtn {
  border: none;
  padding: 7px 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
}

.commonBtn:nth-of-type(1) {
  background-color: #cc3300;
}

.commonBtn:nth-of-type(2) {
  background-color: #0057e7;
}

.commonBtn:nth-of-type(1):hover {
  background-color: #aa2b00;
}

.commonBtn:nth-of-type(2):hover {
  background-color: #0042ab;
}

.active {
  display: flex !important;
}
